<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
	  <add key="Aemet_Key" value="eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwcnViaW9nQGllc2NoLm9yZyIsImp0aSI6ImQ0MDhmNDQwLWQ4YjktNDU1Yy04ZmQxLWFjY2UxYjI3NmUxMyIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjExMDcxNjY0LCJ1c2VySWQiOiJkNDA4ZjQ0MC1kOGI5LTQ1NWMtOGZkMS1hY2NlMWIyNzZlMTMiLCJyb2xlIjoiIn0.kH2JUsUUj3fbsH-hzp75ZreDIauzmdMVfx6T8IfDBPE" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>